<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Site Safety Check</title>
</head>
<body>
  <h1><%= valueObj.score %></h1>
  <a href="">back</a>
  <a href="<%= valueObj.redirectTo %>">continuw</a>
</body>
</html>
